
.rating {
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 10px;
    box-shadow: inset 0 0 3px 0 #f6b823;
}

.rating-input {
    display: none;
    float: right;
    width: 14px;
    height: 46px;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.rating .rating-star, .rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 14px;
    height: 46px;
    background: url("../img/rating/Asset 1.svg") -42px 0;
    background-size: 28px;
}

.rating .rating-star:hover, .rating:hover .rating-star:hover {
    background-position: 0 0;
}

.rating .rating-star:hover ~ .rating-star, .rating:hover .rating-star:hover ~ .rating-star {
    background-position: 0 0;
}

.rating .rating-input:checked ~ .rating-star {
    background-position: 0 0;
}


#information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#information span {
    color: #D1481B;
}

#information .text-wrap {
    flex: 2;
    padding: 0.4rem;
    position: relative;
}

#information .text-wrap img {
    width: 100px;
    height: auto;
    position: absolute;
    right: 30px;
}

#information .text-wrap #title {
    width: 218px;
    position: relative;
    left: 50%;
    margin-left: -109px;
}

#information .text-wrap h6#imdb {
    left: 50%;
    position: absolute;
    margin-left: -50px;
    top: 39px;
}

#information a {
    color: #3999AE;
    width: auto;
    height: auto;
}

#information a:hover {
    color: #D1481B;
}

#information .buttons {
    position: absolute;
    top: 10px;
}

#information .buttons button {
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    background-color: #ddd;
}

#information .buttons button:hover {
    background-color: white;
    box-shadow: inset 0 0 0 2px #ddd;
}

#pictures {
    background: transparent;
}

#pictures #frame {
    width: 125.5%;
    position: relative;
    left: -13%;
    top: -20px;
    overflow: hidden;
    height: 20rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#pictures #frame .image {
    width: 100%;
    background-size: contain;
    height: 100%;
    background-position: top;
    background-repeat: repeat-x;
}

.extra {
    display: block;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 520px;
    max-height: 350px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    z-index: 59;
}

.video-container .trailer {
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.text-wrap li {
    list-style: none;
    display: inline-block;
}

@media screen and (min-width: 1160px) {
    /* Makes the cover img bigger. */
    .big_cover {
        width: 300px !important;
    }

    #cover_image {
        width: 300px;
        position: relative;
        float: right;
    }

    #cover_image img {
        position: relative !important;
        right:0 !important;
    }

}

@media screen and (max-width: 645px) {
    #pictures #frame .image {
        background-size: cover;
        background-repeat: no-repeat;
    }
}